.grid {
    border: 1px dashed;
    border-color: slategrey;
	display: flex;
    flex-wrap: wrap;
	height: 120px;
	width: 140px;
}

.grid div {
	height: 20px;
	width: 20px;
}

.player-one {
	background-color: rebeccapurple;
    border-radius: 10px;
}

.player-two {
	background-color: slategrey;
	border-radius: 10px;
}

